<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Maktab 112</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <main class="min-h-[100vh] py-20 flex flex-col justify-center items-center bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%">
        <h1 class="font-bold text-7xl text-slate-900">Posts</h1>
        <div class="mt-10 text-red-500 text-8xl text-center grid grid-cols-4 gap-10">
            {% for post in posts %}
                <div class="rounded-lg hover:bg-black/70 transition cursor-pointer backdrop-blur-lg bg-black/30 gap-6 text-white font-bold p-20 flex flex-col">
                    <strong class="block text-2xl">{{ post.title }}</strong>
                    <span class="block w-full text-center text-yellow-500 text-4xl">{{ post.description }}</span>
                    <span class="block w-full text-center text-yellow-500 text-4xl">{{ post.author }}</span>
                    <span class="block w-full text-center text-yellow-500 text-4xl">{{ post.created_at }}</span>
                    <span class="block w-full text-center text-yellow-500 text-4xl">{{ post.updated_at }}</span>
                    <a
                            class="inline-block rounded-full bg-indigo-500 text-neutral-50 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:bg-indigo-600 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-indigo-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:bg-indigo-700 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
                            style="font-size: 2rem" href="{% url 'delete' post.id %}"> Delete Post</a>


                    <a
                               class="inline-block rounded-full bg-indigo-500 text-neutral-50 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:bg-indigo-600 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-indigo-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:bg-indigo-700 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
                               style="font-size: 2rem" href="{% url 'update' post.id %}"> Update Post</a>

                </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>